/*-----------------------------------------------------------------
                        BOOTSTRAP OVERRIDES
------------------------------------------------------------------*/
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.help-block {
    margin-top: 2px !important;
    margin-bottom: 0px !important;
}

/*-----------------------------------------------------------------
                                MAIN
------------------------------------------------------------------*/

html {
    height: 100%;
    width: 100%;
}

body { 
    padding-top: 80px;
    position: relative;
    height: auto;
    min-height: 100%;
    width: 100%;
    min-width: 310px;
    //padding-left: 30px;
    //padding-right: 30px;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}

figcaption {
    margin-top: 8px;
}

/* my stuff */

.bottom-section-buffer {
    margin-bottom: 18vw;
}

.ul-no-margin {
    margin: 0;
}

.carousel-figure {
    display: table;
}

.carousel-figcaption {
    display: table-caption;
    caption-side: bottom;
}

/* -------------------------- */

.btn-black {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
    background-color: transparent;
    border: 2px solid black;
    color: black;
    
    transition-property: background-color, color, border;
    transition-duration: 0.5s;
}

.btn-black:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
    
    transition-property: background-color, color, border;
    transition-duration: 0.5s;
}

.btn-black::-moz-focus-inner {
    padding: 0;
    border: 0;
}

#body-home {
    /* Location of the image */
    background-image: url('../img/background-new.jpg');
}

.body-background { 
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when 
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: white;
}

#loading-icon {
    width: 50px;
    height: auto;
    
    -webkit-animation: pulse 1s ease-in-out infinite;
    animation: pulse 1s ease-in-out infinite;
}

@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.5); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

nav {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    min-width: 310px;
}

.brochure-ribbon {
    z-index: 1;
    position: fixed;
    display: block;
    cursor: pointer;
    background: #f1c40f;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-transform: translate(-35px, 100px) rotate(-45deg);
    transform: translate(-35px, 100px) rotate(-45deg);
    -webkit-transform-origin: 15px 0;
    transform-origin: 15px 0;
    text-transform: uppercase;
    padding: 6px;
    width: 200px;
}

.brochure-ribbon:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 200px;
    margin: 2px;
    border: 2px dotted #AF9014;
}

.brochure-ribbon:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.brochure-ribbon:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.brochure-ribbon:hover {
    text-decoration: none;
}

/*.brochure-ribbon-text {
    color: #786207;
    
    transition-property: color;
    transition-duration: 0.5s;
}

.brochure-ribbon:hover .brochure-ribbon-text {
    color: black;
    
    transition-property: color;
    transition-duration: 0.5s;
}*/

.pitch-wrapper {
    padding-left: 30px;
    padding-right: 30px;
}

.pitch {
    width: 100%;
}

.pitch1 {
    height: 40vh;
    margin-top: 15vh;
    //border: 1px solid white;
}

.pitch2 {
    height: 15vh;
    text-align: center;
    //border: 1px solid white;
}

.pitch3 {
    height: 15vh;
    margin-bottom: 10vh;
    //border: 1px solid white;
}

.v-plenum-ad {
    color: white;
}

.pitch-grisley-g {
    display: block;
    max-height: 100%;
    width: auto;
    margin: auto;
    opacity: 0.4;
}

.pitch-tagline-wrapper {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
}

.pitch-tagline {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 3vw;
    //text-transform: uppercase;
}

.pitch-tagline .small-word {
    font-size: 1.5vw;
    font-weight: normal;
    text-transform: lowercase;
    font-style: italic;
}

.pitch-tagline-sub {
    font-size: 1.5vw;
}

#home-pitch-button-why {
    //margin-bottom: 5vw !important;
    padding: 15px 30px 15px 30px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
    transition-property: background-color, color, border-color, text-shadow;
    transition-duration: 0.5s;
}

#home-pitch-button-why:hover {
    background-color: #a3d65c;
    text-shadow: 1px 1px black;
    
    transition-property: background-color, color, border-color, text-shadow;
    transition-duration: 0.5s;
}

#home-pitch-button-why::-moz-focus-inner {
    padding: 0;
    border: 0;
}

#grisley-logo-container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#grisley-logo-navbar {
    height: 60px;
    width: auto;
}

#home-sections-additional {
    display: block;
    width: 100%;
    height: auto;
    /* margin-bottom: 100px; */
    color: white;
}

#home-sections-additional h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 60px;
    padding-bottom: 10px;
    position: relative;
}

.header-underline {
    width: 0px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

.header-grisley-g {
    height: 40px;
    width: auto;
    margin: auto;
}

.home-section-additional {
    width: 100%;
    text-align: center;
    color: white;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
}

.home-header-wrapper {
    padding-top: 40px;
    text-align: center;
}

.home-header-title {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 40px;
}

.home-header {
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}

.home-header h3 {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

#home-advantages-section:before {
    content: "";
    width: 0; 
    height: 0;
    position: absolute;
    top: -4vw;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 5vw solid #a3d65c;
}

#home-advantages-section {
    background-color: #a3d65c;
}

.advantage-icon-wrapper {
    margin-top: 50px;
    cursor: pointer;
}

.advantage-icon {
    font-size: 50px;
    z-index: 1;
    color: white;
    opacity: 0.75;
    
    transition-property: text-shadow, opacity;
    transition-duration: 0.5s;
}

.advantage-icon-wrapper.hover .advantage-icon, 
.advantage-icon-wrapper.selected .advantage-icon {
    text-shadow: 0px 0px 25px #5579b3;
    opacity: 1;
    
    transition-property: text-shadow, opacity;
    transition-duration: 0.5s;
}

.advantage-icon-circle {
    font-size: 130px;
    z-index: 0;
    color: #5579b3;
    opacity: 0.75;
    
    transition-property: text-shadow, font-size, opacity;
    transition-duration: 0.5s;
}

.advantage-icon-wrapper.hover .advantage-icon-circle, 
.advantage-icon-wrapper.selected .advantage-icon-circle {
    font-size: 150px;
    text-shadow: 0px 0px 25px #5579b3;
    opacity: 1;
    
    transition-property: text-shadow, font-size, opacity;
    transition-duration: 0.5s;
}

.advantage-summary-wrapper h4 {
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #5579b3;
    opacity: 0.75;
    
    transition-property: text-shadow, opacity;
    transition-duration: 0.5s;
}

.advantage-icon-wrapper.hover .advantage-summary-wrapper h4,
.advantage-icon-wrapper.selected .advantage-summary-wrapper h4 {
    text-shadow: 0px 0px 25px #5579b3;
    opacity: 1;
    
    transition-property: text-shadow, opacity;
    transition-duration: 0.5s;
}

.advantage-summary-wrapper p {
    color: white;
    
    transition-property: text-shadow;
    transition-duration: 0.5s;
}

.advantage-icon-wrapper.hover .advantage-summary-wrapper p,
.advantage-icon-wrapper.selected .advantage-summary-wrapper p {
    text-shadow: 0px 0px 25px rgba(85,121,179,1);
    
    transition-property: text-shadow;
    transition-duration: 0.5s;
}

.advantage-summary-more {
    font-size: 12px;
}

#home-projects-section {
    background-color: #5579b3;
    color: white;
}

.projects-carousel {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.carousel-image-wrapper {
    margin: 10px;
    height: 358px;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.carousel-image-wrapper:hover {
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}

.projects-carousel img {
    max-height: 300px;
    max-width: 50vw;
    
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.projects-carousel img:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.slick-dots li button:before {
    line-height: 15px;
}

.slick-dots li, .slick-dots li button, .slick-dots li button:before {
    height: 15px;
    width: 15px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  max-width: 100%;
}

.modal-content {
    padding-bottom: 40px;
    text-align: center;
    overflow: hidden;
    border: 1px solid lightgray;
    background-color: rgba(255,255,255,0.9);
    
    -webkit-box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
}

#image-gallery .modal-content {
    background-color: rgba(255,255,255,1);
}

#image-gallery-image {
    margin: auto;
}

.modal-content .advantage-text-grisley-g {
    height: 50%;
    max-height: 300px;
    width: auto;
    opacity: 0.1;
    pointer-events: none;
}

.modal-header {
    border-bottom: none;
}

.modal-header .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 31px;
    height: 31px;
/*    border-radius: 31px;
    border: 1px solid black;*/
}

.modal-header .close img {
    height: 20px;
    width: auto;
    padding-left: 0px;
    padding-bottom: 3px;
}

.modal-content h3 {
    margin: 40px 40px 0px 40px;
    line-height: 2em;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.modal-content hr {
    border-color: lightgray;
    margin: 0px 40px 0px 40px;
}

.modal-content p {
    margin: 0px 40px 0px 40px;
    text-align: left;
    line-height: 1.9em;
    color: gray;
}

.modal-grisley-g {
    width: 150px;
    height: auto;
    opacity: 0.1;
    pointer-events: none;
}

/*-----------------------------------------------------------------
                        ABOUT PAGE
------------------------------------------------------------------*/

#body-about {
    background-image: url('../img/about_background.jpg');
}

#about-sections {
    width: 100%;
    margin-bottom: 18vw;
    background-color: white;
}

.about-section h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 68px;
    font-weight: normal;
}

.about-section h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.about-section p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.about-additional-graphic {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
}

.about-navigation-button {
    width: 250px;
}

.about-navigation-separator {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px
}

/*-----------------------------------------------------------------
                        PRODUCTS PAGE
------------------------------------------------------------------*/

#body-products {
    background-image: url('../img/products_background.jpg');
    background-repeat: repeat;
}

#products-section {
    width: 100%;
    margin-bottom: 18vw;
    background-color: white;
    overflow: auto; 
}

.product-image {
    opacity: 0.75;
}

.product-name {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 36px;
    
    background-color: #3baf29;
    background: -ms-linear-gradient(0deg, rgba(59,175,41, 0.75)50%, rgba(85,121,179, 0)100%);
    background: -moz-linear-gradient(0deg, rgba(59,175,41, 0.75)50%, rgba(85,121,179, 0)100%);
    background: -webkit-linear-gradient(0deg, rgba(59,175,41, 0.75)50%, rgba(85,121,179, 0)100%);
    background: -o-linear-gradient(0deg, rgba(59,175,41, 0.75)50%, rgba(85,121,179, 0)100%); 
    border-radius: 5px;
    color: white;
    padding: 10px 50px 10px 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.product-description {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.product-section h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 68px;
    font-weight: normal;
}

.product-section h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: normal;
}

.product-section p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.product-additional-graphic {
    display: block;
    width: auto;
    height: auto;
    margin: auto;
}

#product-additional-graphic-fan {
    width: 60%;
    height: 60%;
    max-width: 500px;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}

@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin { 
    100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

#products-section .learn-more,
.product-section .contact-us {
    font-size: 24px;
    font-weight: normal;
    margin-top: 50px;
}

/*-----------------------------------------------------------------
                        PROJECTS PAGE
------------------------------------------------------------------*/

#projects-section {
    width: 100%;
    background-color: white;
    overflow: auto; 
    color: #333;
}

#projects-section #home-projects-header {
    border-bottom: 1px solid #333;
}

/*-----------------------------------------------------------------
                        DAFTING PAGE
------------------------------------------------------------------*/

#body-drafting {
    background-image: url('../img/drafting-background.jpg');
    background-repeat: repeat;
}

/*-----------------------------------------------------------------
                            CONTACT PAGE
------------------------------------------------------------------*/

#body-contact {
    /* Location of the image */
    background-image: url('../img/background.jpg');
}

#contact-form-wrapper {
    padding: 20px;
    background-color: rgba(255,255,255,0.85);
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    margin-top: 40px;
    
    -webkit-box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
}

#contact-form {
    display: inline-block;
    height: auto;
    width: 100%;
    text-align: left;
}

#contact-form textarea {
    resize: vertical;
}

#contact-form h3,
#contact-form i,
#contact-form p {
    color: gray;
    margin-bottom: 0;
}

#contact-form p {
    margin-bottom: 20px;
    //margin-left: 20px;
}

#contact-form .form-control-feedback {
    right: 30px !important;
}

#contact-form .feedback-message {
    display: inline;
}

#contact-form .submit-button-wrapper {
    text-align: right;
}

#additional-contact-info {
    margin-right: -10px;
    margin-top: 40px;
    padding: 0px 20px 20px 20px;
    background-color: rgba(255,255,255,0.85);
    border: 1px solid lightgray;
    border-radius: 10px;
    z-index: 1;
    
    -webkit-box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
}

#additional-contact-info h4 {
    background-color: gray;
    background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0)100%);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0)100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0)100%);
    background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0)100%); 
    border-radius: 5px;
    color: white;
    padding: 5px 10px 5px 10px;
    text-transform: none;
}

.additional-contact-info-item-icon {
    font-size: 12px;
    margin-right: 10px;
}

#additional-contact-info a {
    font-family: 'Roboto', sans-serif;
}

.additional-contact-info-item {
    margin-top: 20px;
}

.additional-contact-info-item-social-media-header {
    display: inline-block;
    margin-right: 10px;
}

.additional-contact-info-item-social-media-icon {
    display: inline-block;
    position: relative;
    height: 32px;
    width: 32px;
    margin-right: 5px;
    border-radius: 32px;
}

.additional-contact-info-item-social-media-icon.icon-facebook {
    background-color: #3C599F;
}

.additional-contact-info-item-social-media-icon.icon-youtube {
    background-color: #C52F30;
}

.additional-contact-info-item-social-media-icon .fa {
    font-size: 20px;
    color: white;
    opacity: 0.75;
    
    //transition-duration: 0.3s;
    transition-property: opacity;
}

.additional-contact-info-item-social-media-icon:hover .fa {
    opacity: 1;
    
    //transition-duration: 0.3s;
    transition-property: opacity;
}

/*-----------------------------------------------------------------
                            INFO PAGE
------------------------------------------------------------------*/

#body-info {
    /* Location of the image */
    background-image: url('../img/background.jpg');
}

#info-tab-wrapper {
    padding: 20px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    
    -webkit-box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
    box-shadow: 4px 5px 17px -1px rgba(0,0,0,0.75);
}

#info-tab-wrapper h3 {
    color: gray;
}

.info-item {
    margin: 10px;
}

/*-----------------------------------------------------------------
                            FOOTER
------------------------------------------------------------------*/

footer {
    background: #2a2a2a;
    padding-top: 40px;
    padding-bottom: 60px;
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
}

#footer-contact {
    display: inline-block;
    height: auto;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

#footer-contact i {
    padding-bottom: 10px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}

#footer-contact a {
    display: inline-block;
}

#footer-contact a {
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    
    color: gray;
    
    transition-property: color;
    transition-duration: 0.3s;
}

#footer-contact a, #footer-contact a:hover, 
#footer-contact a:active, #footer-contact a:visited {
    text-decoration:none;
}

#footer-contact a:hover {
    color: white;
    
    transition-property: color;
    transition-duration: 0.3s;
}

footer .fa {
    display: block;
}

footer .fa-map-marker {
    color: #f45149;
}

footer .fa-envelope {
    color: #1d73f2;
}

footer .fa-phone-square {
    color: #4edb66;
}

#subfooter {
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1a1a1a;
    border-top: 1px solid black;
}

#grisley-g-footer {
    width: 40px;
    height: auto;
    display: inline-block;
}

#copyright {
    font-family: 'Open Sans 300', sans-serif;
    color: #4d4d4d;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.social-media-circle {
    background-color: #666666;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    
    transition-property: background-color;
    transition-duration: 0.3s;
}

.social-media-circle:hover {
    background-color: white;
    
    transition-property: background-color;
    transition-duration: 0.3s;
}

#subfooter i {
    font-size: 20px;
    color: #1a1a1a;
}

/*-----------------------------------------------------------------
                                DOT NAV
------------------------------------------------------------------*/

#dot-nav {    
    right: 10px;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    z-index: 999;
}

#dot-nav ul {
    list-style: none;
    margin:0;
    padding: 0;
}

#dot-nav li {
    position: relative;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    padding: 5px;
    height: 10px;
    margin: 10px 10px 0px 0px;
    width: 10px;
    vertical-align: bottom;
}

#dot-nav li.active, #dot-nav li:hover {
    background-color: #3baf29;
}

#dot-nav a {
    outline: 0;
    vertical-align:top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top: -5px;
}

.dot-nav-tooltip + .tooltip > .tooltip-inner {
    background-color: #3baf29; 
    color: white; 
    border: 1px solid #3baf29; 
}

.dot-nav-tooltip + .tooltip.left > .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #3baf29;
}

/*-----------------------------------------------------------------
                        GENERAL UTILITY CLASSES
------------------------------------------------------------------*/

.italic {
    font-style: italic;
}

.border {
    border: 1px solid black;
}

.flexbox-center-vertically {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flexbox-center-horizontally {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;
}

.flexbox-center-both {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
    -webkit-justify-content: center;
    justify-content: center;
}

.row-top-buffer {
    padding-top: 100px;
}

.row-top-buffer-small {
    padding-top: 50px;
}

.row-bottom-buffer {
    padding-bottom: 100px;
}

.row-bottom-buffer-small {
    padding-bottom: 50px;
}

.relative {
    position: relative;
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-absolute-horizontally {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.center-absolute-vertically {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.not-visible {
    opacity: 0;
}

.not-visible i {
    cursor: default !important;
}

.green-text {
    color: #3baf29;
}

.fill-viewport {
    min-height: 80vh;
    padding-top: 30vh;
}

.video-responsive {
    width: 100%;
    height: auto;
    opacity: 0.25;
}

.play-video {
    cursor: pointer;
    z-index: 1;
    
    font-size: 130px;

    transition-property: font-size;
    transition-duration: 0.5s;
}

.play-video:hover {   
    font-size: 150px;
    
    transition-property: font-size;
    transition-duration: 0.5s;
}

.left-divider {
    border-left: 1px solid lightgray;
    padding-left: 30px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1599px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    #footer-contact-link-map, #footer-contact-link-mail {
        margin-bottom: 40px;
    }
    
    .flexbox-center-vertically-disable-md {
        display: block;
    }
    
    .product-name, .product-section h2 {
        font-size: 30px;
    }
    
    #dot-nav {    
        right: 0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {    
    .pitch-tagline {
        font-size: 7vw;
    }
    
    .pitch-tagline .small-word,
    .pitch-tagline-sub {
        font-size: 4vw;
    }

    .flexbox-center-vertically-disable-xs {
        display: block;
    }
    
    .left-divider-disable-sm {
        border-left: none;
        padding-left: 15px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 479px) {
    
/*    .pitch-grisley-g {
        height: 200px;
        width: auto;
    }*/

    #home-sections-additional h1 {
        font-size: 32px;
    }
    
    .projects-carousel {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .header-grisley-g {
        height: 30px;
        width: auto;
        margin: auto;
    }
    
    .home-header h3 {
        font-size: 16px;
    }
    
    #advantage-icon-environment .fa-angle-down {
        font-size: 40px;
        top: -45px;
    }
    
    .modal:before {
        content: none;
    }
    
    .modal-advantage .modal-content .advantage-text-grisley-g, 
    .modal-advantage .modal-content .advantage-text-grisley-g-small {
        width: 150px;
        height: auto;
    }
    
    .modal-advantage .modal-content {
        padding-bottom: 10px;
    }
    
    .modal-advantage .modal-content h3 {
        margin: 10px 10px 0px 10px;
        font-size: 16px;
    }

    .modal-advantage .modal-content hr {
        margin: 0px 10px 0px 10px;
    }

    .modal-advantage .modal-content p {
        margin: 0px 10px 0px 10px;
        font-size: 14px;
    }
    
    ::-webkit-input-placeholder {
        font-size: 12px;
    }
    
    :-moz-placeholder { /* older Firefox*/
        font-size: 12px;
    }
    
    ::-moz-placeholder { /* Firefox 19+ */ 
        font-size: 12px;
    }
    
    :-ms-input-placeholder { 
        font-size: 12px; 
    }

    #body-products {
        background-image: url('../img/products_background_small.jpg');
    }
    
    .product-section h3,
    .about-section h3 {
        font-size: 48px;
    }
    
    .product-section h4,
    .about-section h4 {
        font-size: 24px;
    }

    .product-section p,
    .about-section p {
        font-size: 16px;
    }
    
    .product-section .contact-us,
    .about-section .contact-us {
        font-size: 16px;
    }
    
    .row-top-buffer {
        padding-top: 50px;
    }

    .row-top-buffer-small {
        padding-top: 25px;
    }

    .row-bottom-buffer {
        padding-bottom: 50px;
    }

    .row-bottom-buffer-small {
        padding-bottom: 25px;
    }
}